* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

.input {
  text-align: center;
  background: rgb(4, 0, 255);
  /* height: 600px; */
  padding: 30px;
  border-radius: 16px;
}

input[type="text"] {
  height: 100px;
  width: 600px;
  background: white;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-radius: 16px 0 0 16px;
  outline: none;
  padding-left: 30px;
  box-shadow: 10px 10px;
}

input[type="submit"] {
  height: 100px;
  width: 200px;
  background: rgb(238, 238, 238);
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  border: none;
  border-radius: 0 16px 16px 0;
  outline: none;
  cursor: pointer;
  box-shadow: 10px 10px;
  
}

input[type="submit"]:active {
  background: #ccc;
  box-shadow: 5px 5px;

  
}

.display {
  background: white;
  margin-top: 50px;
  padding: 30px;
  font-size: 2rem;
  text-align: center;
}